h1{
    color: blue;
    margin: 10px 0px 10px 10px;
}

h2,h3{
    box-sizing: border-box;
    border: 1px solid;
    padding: 10px;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

.classi{
    color: black;
    background-color: lightcoral;
    font-size: x-large;
}

#second{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}